:root {
    --text-black: black;
    --background-pink: #efe0e0;
    --background-black: black;
    --text-white:white;
 }
 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

body{
    background-color:var(--background-pink)
 }

header{
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:var(--background-black);
    color:var(--text-white);
 }

a {
    color: var(--text-white);
    background-color:var(--background-black);
    text-decoration: none;
}

hr {
    border: dotted black 6px;
    border-bottom: none;
    margin: 30px;   
}

h1{
    display: inline-block;
    margin-left: 10px;
    background-color:var(--background-black);
    font-size: 48px;
}

h2{
    text-align: center;
    margin: auto 20px auto 20px;
}

p{
    font-family: "Times New Roman", Times, serif;
}

nav{
    margin-left: auto;
}

ul{
    margin:auto;
}

ul li {
    display: inline-block;
    margin: 10px;
} 

figure img {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

main{
    display: flex;
    flex-wrap: wrap;

}

.card{
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

.card.one{
    flex: 200 0 200px;
}


main img{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

main header{
    background-color: var(--background-pink);
    color: var(--text-black);
    
}

main a{
    background-color: var(--background-pink);
}

#About-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

#About-me p{
    max-width: 50%;
}

#About-me img{
    max-width: 50%;
    margin: 30px;
    border-radius: 4px;
    width: 200px;
}

#Contact-me{
    display: flex;
}

footer{
    text-align: center;
    padding: 30px;
    margin: 20px 0 0 0 ;
    background-color: var(--background-black);
    color: var(--text-white);
}


.contact{
    background-color:var(--background-pink);
    color: var(--text-black);
}

.card{
    max-width: 50%;
}

@media screen and (max-width:822px) {
    #About-me{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        align-content: center;
    }

  }

@media screen and (max-width:527px) {
    nav ul{
        display: flex;
        flex-direction: column;
    }
  }